<div ng-controller="HomepageCtrl as vm" class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">Welcome to Car eXpenses Manager</h1>
        <p class="lead">A simple app to manage and track your car expenses 🚗 💵</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#!fleet/" role="button">Edit your fleet</a>
            <a class="btn btn-primary btn-lg" href="#!expenses/" role="button">Manage your expenses</a>
        </p>
    </div>
</div>